

/* Watchopolis Theme Stylesheet
-------------------------------------------------- */


/* Import Google Web Fonts
-------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);


/* Body and structure
-------------------------------------------------- */

body {font-family: 'Open Sans', serif;}

.btn.btn-small, input[type="submit"].btn.btn-small {font-family: inherit;}
.btn-primary {background-color: rgba(22, 150, 200, 0.5);color: #ffffff;background-image: -moz-linear-gradient(top, #4eb2e0, #4aaad6);background-image: -ms-linear-gradient(top, #4eb2e0, #4aaad6);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4eb2e0), to(#4aaad6));background-image: -webkit-linear-gradient(top, #4eb2e0, #4aaad6);
background-image: -o-linear-gradient(top, #4eb2e0, #4aaad6);
background-image: linear-gradient(top, #4eb2e0, #4aaad6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'4eb2e0, endColorstr='#'4aaad6, GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #4aaad6;}
.btn-primary:active,
.btn-primary.active {background-color: #003399 \9;}
.branded {color:#52B8EB;}
.ast {padding-right:10px; margin-right:6px;}
.ast-alt { margin-right:6px;}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 72px;
  margin-right: 0;
  margin-bottom: 3px;
  Padding: 24px 40px;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 50px;
  margin-right: 2px;
  line-height: 14px;}

/* Header
-------------------------------------------------- */

#header {;position: relative;z-index: 2;}
#header .navbar {
font-family: 'Open Sans', sans-serif;
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;}
 #header .navbar-inner {
  min-height: 50px;
  background-color: #F3F3F3;
  background-image: none;
  border: 1px solid #DDDDDD;
}
#header .navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
text-transform: uppercase;
font-size: 13px;
font-weight: 600;
}

#header .navbar .nav > li > a {
float: none;
padding: 15px 13px 9px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 white;
}

#header h1 {
float: left;
width: 114px;
height: 22px;
margin-top: 13px;
margin-right: 50px;
overflow: hidden;
background: url("../img/logo.png");
text-indent: -9999px;
}


#header .input-search {
font-family: inherit;
background-color: #F9F9F9;
border-color: #E7E7E7;
border-width: 1px;
-moz-border-radius: 0%;
-webkit-border-radius: 0%/3%;
border-radius: 0%/3%;
border-style: solid;
margin: 10px 18px;
font-size: 12px;
}

#header .navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#header .navbar .nav > li > a:focus,
#header .navbar .nav > li > a:hover {
  color: #333333;
  text-decoration: underline;
  background-color: transparent;
}

#header .navbar-form {
  margin-bottom: 0;
  *zoom: 1;
  margin-top: 5px;
  margin-right: 15px;
}

#header .navbar-form .input-append input,
.navbar-form .input-prepend input {
  margin-top: 0;
  border: 1px solid;
  font-size: 12px;
  background-color: #F9F9F9;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 2px;
}

#header .dropdown-menu {
text-transform: none;
color: #8D8C8C;
}

#header .dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
color: #ffffff;
text-decoration: none;
background-color: red;
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(91,187,235) 0%,rgb(22,150,200) 100%); 
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(91,187,235)),color-stop(1, rgb(22,150,200)));
background-image:-webkit-linear-gradient(-90deg,rgb(91,187,235) 0%,rgb(22,150,200) 100%);
background-image:-o-linear-gradient(-90deg,rgb(91,187,235) 0%,rgb(22,150,200) 100%);
background-image:-ms-linear-gradient(-90deg,rgb(91,187,235) 0%,rgb(22,150,200) 100%);
background-image:linear-gradient(-90deg,rgb(91,187,235) 0%,rgb(22,150,200) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5bbbeb,endColorstr=#ff1696c8,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5bbbeb,endColorstr=#ff1696c8,GradientType=0);
}

#header .navbar-link {color: #3884AA;}
#header .navbar-link:hover {color: #333333;}
#header .navbar-text {
  margin-bottom: 0;
  line-height: 46px;
  color: #777777;
  font-size: 12px;}

/* Info Unit
-------------------------------------------------- */

#info-unit { padding-bottom:10px;}
#info-unit .alert-block {position: relative;bottom: 30px; padding-top: 34px;z-index: 1;}
#info-unit .alert-info .btn-success {background: white; color: #1596C7;}
#info-unit .alert-info h4 {color: #1596C7; font-weight: 600;}
#info-unit  .alert-block p + p {margin-top: 13px;}
#info-unit .alert-block > p, .alert-block > ul {color: grey;font-size: 13px;line-height: 32px;}
#info-unit .alert-info {
  font-family: inherit;
  color: #3a87ad;
 background:-moz-linear-gradient(rgba(82,184,235,0) 0%,rgba(82,184,235,0.04) 100%); 
background:-webkit-gradient(linear,color-stop(0, rgba(82,184,235,0)),color-stop(1, rgba(82,184,235,0.04)));
background:-webkit-linear-gradient(rgba(82,184,235,0) 0%,rgba(82,184,235,0.04) 100%);
background:-o-linear-gradient(rgba(82,184,235,0) 0%,rgba(82,184,235,0.04) 100%);
background:-ms-linear-gradient(rgba(82,184,235,0) 0%,rgba(82,184,235,0.04) 100%);
background:linear-gradient(rgba(82,184,235,0) 0%,rgba(82,184,235,0.04) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#052b8eb,endColorstr=#b52b8eb)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#052b8eb,endColorstr=#b52b8eb);
border-color: #bce8f1;}

/* 404 Page
-------------------------------------------------- */

#error-page .hero-unit {padding: 60px;text-align: center;margin-bottom: 30px;font-size: 18px;font-weight: 200;line-height: 30px;color: inherit;background-color: rgba(238, 238, 238, 0.13);-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
#error-page .hero-unit h1 {margin-bottom: 0;font-size: 7em;line-height: 1;letter-spacing: -1px; color: inherit; }
#error-page .hero-unit li {line-height: 30px;}

/* Options Bar
-------------------------------------------------- */

.options-bar {
margin-bottom:15px;
padding:10px;
background: url('../img/bg-1.png') repeat;
border: 1px solid rgb(241, 241, 241);
-webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;
}
.options-bar span {
font-size: 12px;
padding: 6px 21px;
float:right;
color: #757575;}

/* Pricing Plans
-------------------------------------------------- */
.pricing-table { border: solid 1px #dddddd; margin-left: 0; margin-bottom: 20px;   -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);}
.pricing-table * { list-style: none; line-height: 1; }
.pricing-table .title { 
border-bottom: 1px solid rgba(19, 125, 176, 0.28);
-moz-box-shadow:0px 1px 1px rgba(19,125,176,0.65);
-webkit-box-shadow:0px 1px 1px rgba(19,125,176,0.65);
box-shadow:0px 1px 1px rgba(19,125,176,0.65);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a6137db0,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a6137db0,Positive=true);
background-color: #33ADE8; padding: 15px 20px; text-align: center; 
color: #FFF; 
font-weight: 400; 
font-size: 32px; }
.pricing-table .price { background-color: #50B9EB; padding: 15px 20px; text-align: center; color: #FFF; font-weight: normal; font-size: 20px; border-top: 1px solid rgba(255, 255, 255, 0.13);}
.pricing-table .description { background-color: white; padding: 15px; text-align: center; color: #777777; font-size: 12px; font-weight: normal; line-height: 19px; border-bottom: dotted 1px #dddddd; }
.pricing-table .bullet-item { background-color: white; padding: 15px; text-align: center; color: #333333; font-size: 13px; font-weight: 600; border-bottom: dotted 1px #dddddd; }
.pricing-table .cta-button { background-color: rgba(238, 238, 238, 0.13); text-align: center; padding: 20px; }
#pricing-plans {background: #F2F2F2;height: auto;padding: 50px 0px; border-bottom:1px solid rgba(218, 218, 218, 0.89); border-top:1px solid rgba(218, 218, 218, 0.89); }
#pricing-plans .page-header h3 {font-weight:300;}
#pricing-plans .page-header small {font-size: 14px;}
.overview {padding:100px 0px;}
.overview .tab-content {font-weight: 300;}
.overview .page-header h1 {font-weight: 300;}

/* Thumnails
-------------------------------------------------- */

.thumbnail {background: rgb(252, 252, 252);}
.thumbnail h6 {margin: 0px;}
.thumbnail > img {opacity: 1;-webkit-transition: opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 500ms;}
.thumbnail > img:hover {opacity: .5;background: red;-webkit-transition: opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 500ms;}
.thumbnail p {font-size: 12px;line-height: 15px;}
ul.thumbnails li.span4:nth-child(3n + 4) {margin-left : 0px;}
ul.thumbnails li.span3:nth-child(4n + 5) {margin-left : 0px;}
ul.thumbnails li.span12 + li {margin-left : 0px;}



#side-section .nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #1596C7;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  background-color: #F7F7F7;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

#side-section .nav-list > li > a {
  padding: 8px 15px;
  color: rgb(156, 156, 156);
   -webkit-transition-property: background color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -o-transition-property: background color;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: linear;
  -ms-transition-property: background color;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: linear;
  transition-property: background color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

/* Right Section styling
============================================== */

#side-section  { padding-top:20px;}
#side-section .module-top {margin-top:15px;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;height: 20px;background: #52B8EB;color: white;padding: 5px 13px 7px 13px;font-size: 12px;font-weight: 500;}
#side-section .module-top i { padding-right:10px;}
#side-section .error input {border: 1px solid #FFA0A0;}
#side-section .module {border: 1px solid whiteSmoke;padding: 15px;background: #FCFCFC;margin:  0px;}
#side-section .module span {font-size: 11px;}
#side-section .module .w-input { box-sizing: border-box;
width: 100%;}

#side-section .module .label-main {font-weight: 600;font-size: 12px;}
#side-section  .nav-list {
padding-right: 15px;
padding-left: 15px;
margin-bottom: 0;
border: 1px solid #EEE;
border-radius: 4px;}

#side-section .nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #919191;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  background-color: #F7F7F7;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;

}

.comment {  border-bottom: 1px dashed #E7E7E7; padding-top:10px;}
.comment-body {font-size: 10px;line-height: 16px;color: grey;*overflow: visible;zoom: 1;}
.comment-heading {color:grey;margin: 0 0 5px;font-size: 12px;font-weight: 600;}
.comment:first-child {padding:0px;}
.comment:last-child {margin-top: 0;border: 0px;}
.comment-object {display: block;margin-top: 3px;}
.comment-heading .time {float: right;font-size: 9px;color: #ACACAC;}
.comment .pull-left {margin-right: 10px;}
.comment .pull-right {margin-left: 10px;}
.comment-list {margin-left: 0;list-style: none;}



/* Input styling
============================================== */
select,
input[type='checkbox'],
input[type='radio'],
input[type='button']
{
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  text-shadow: 0 1px 0 #F0F0F0;
}

input[type='checkbox']:checked::before {
  -webkit-user-select: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDBhYcG79aGIsAAACbSURBVBjTjdFBCkFhFAXgj4fp24PBy0SZ2ICRXRgYGb2xlKzBSEo2YgsiKWVoZgFKMjD5X/2Ux6lb99bpnNO5lKMR5i8MsEQHkhJiEzlS9HCqfiFWMUIt3AfsC3KKLCL30Qr7HfM4Ro4h6rhiEqmusIMKuphGqo+ogSPGcbYLzh91vdkXSHDDBk+0gxussS3rNcMCs+D6E18/9gLPPhbDshfzLgAAAABJRU5ErkJggg==");
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}
html[dir='rtl'] input[type='checkbox']:checked::before {
  -webkit-transform: scaleX(-1);
}
input[type='radio']:checked::before {
  background-color: #666;
  border-radius: 100%;
  bottom: 3px;
  content: '';
  display: block;
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
}
select {
  -webkit-appearance: none;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 6px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQokWNgoAOIAuI0PDiKaJMSgYCZmfkbkPkfHYPEQfJEG/b//3+FBQsWLGRjY/uJbBCIDxIHyRNtGDYDyTYI3UA+Pr4vFBmEbODbt2+bKDYIyUBWYtQBAIRzRP/XKJ//AAAAAElFTkSuQmCC), -webkit-linear-gradient(#EDEDED, #F3F3F3 38%, #FDFDFD);
  background-position: right center;
  background-repeat: no-repeat;
}
select {
  min-height: 2em;
  min-width: 4em;
  font-size: 11px;
}
html[dir='rtl'] select {
  background-position: center left;
}
input[type='checkbox'] {
  bottom: 0px;
  height: 13px;
  top: 4px;
  position: relative;
  vertical-align: middle;
  width: 13px;
}
input[type='radio'] {
  /* OVERRIDE */

  border-radius: 100%;
  bottom: -3px;
  height: 15px;
  position: relative;
  vertical-align: middle;
  width: 15px;
}

.radio,
.checkbox {
  margin: 0.65em 0;
  font-size: 11px;
}
select:focus,
input[type='checkbox']:focus,
input[type='radio']:focus
 {
  -webkit-transition: border-color 200ms;
  border-color: #4d90fe;
  outline: none;
}

select:disabled {
  background-image: -webkit-linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);
  border-color: rgba(80, 80, 80, 0.2);
  box-shadow: 0 1px 0 rgba(80, 80, 80, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #aaa;
}
select:disabled {
background-image: -webkit-image-set(url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAd0SU1FB9sLAxYEBKriBmwAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAACxMAAAsTAQCanBgAAABLSURBVCiRY2CgA4gC4jQ8OIpokxKBoKGh4T8uDJIn2rD///8rLFiwYCE2g0DiIHkSfIndQLIMwmYgRQYhG/j27dsmig1CMpCVGHUAo8FcsHfxfXQAAAAASUVORK5CYII=") 1 x), -webkit-linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);}
input[type='checkbox']:disabled,
input[type='radio']:disabled {
  opacity: .75;
}

select:hover:enabled,
input[type='checkbox']:hover:enabled,
input[type='radio']:hover:enabled
 {

  background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
  color: black;
}
select:hover:enabled {

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQokWNgoAOIAuI0PDiKaJMSgYCZmfkbkPkfHYPEQfJEG/b//3+FBQsWLGRjY/uJbBCIDxIHyRNtGDYDyTYI3UA+Pr4vFBmEbODbt2+bKDYIyUBWYtQBAIRzRP/XKJ//AAAAAElFTkSuQmCC"), -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
}
select:active:enabled,
input[type='checkbox']:active:enabled,
input[type='radio']:active:enabled
{
  background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}
select:active:enabled {background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQokWNgoAOIAuI0PDiKaJMSgYCZmfkbkPkfHYPEQfJEG/b//3+FBQsWLGRjY/uJbBCIDxIHyRNtGDYDyTYI3UA+Pr4vFBmEbODbt2+bKDYIyUBWYtQBAIRzRP/XKJ//AAAAAElFTkSuQmCC"), -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);}

/* Footer
-------------------------------------------------- */

.footer {
  position: relative;
  /*top: 48px;*/
  padding:  0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #A8A7A7;
  font-size: 11px;
  padding: 30px 10px;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
.foot-logo {padding-right:25px;opacity: 1;-webkit-transition: opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 500ms;}
.foot-logo:hover {opacity: .5;background: transparent;-webkit-transition: opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 500ms;}


/* Page Elements Styling
-------------------------------------------------- */

.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.bs-docs-example .label-e {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.rating span {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 16px !important;
}

.rating {
    clear: both;
}